{%load static%}
<!-- Concatenated js plugins and jQuery -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'data/tipuedrop_content.js' %}"></script>

<!-- Core js -->
<script src="{% static 'js/global.js' %}"></script>

<!-- Navigation options js -->
<script src="{% static 'js/navbar-v1.js' %}"></script>
<script src="{% static 'js/navbar-v2.js' %}"></script>
<script src="{% static 'js/navbar-mobile.js' %}"></script>
<script src="{% static 'js/navbar-options.js' %}"></script>
<script src="{% static 'js/sidebar-v1.js' %}"></script>

<!-- Core instance js -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/touch.js' %}"></script>
<script src="{% static 'js/tour.js' %}"></script>

<!-- Components js -->
<script src="{% static 'js/explorer.js' %}"></script>
<script src="{% static 'js/widgets.js' %}"></script>
<script src="{% static 'js/modal-uploader.js' %}"></script>
<script src="{% static 'js/popovers-users.js' %}"></script>
<script src="{% static 'js/popovers-pages.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>